@font-face {
    font-family: 'coinyregular';
    src: url('assets/coiny/coiny-regular.woff2') format('woff2'),
         url('assets/coiny/coiny-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
  background-color: black;
}

.container {
  height: 100%;
  width:100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.row{
  color: white;
  font-family: coinyregular;
  font-size: 30px;
}
